## Data Analysis with Pandas

In [3]:
# Loading the pandas module
import pandas as pd

### Series

#### Question 1

In [8]:
series_A = pd.Series([4, 65, 436, 3, 9])
series_B = pd.Series([7, 0, 3, 897, 9])

cmp = series_A == series_B
for index in range(cmp.size):
    print(f'Element {series_A[index]} in series A is {"equal" if cmp[index] else "not equal"} to {series_B[index]} in series B.')

Element 4 in series A is not equal to 7 in series B.
Element 65 in series A is not equal to 0 in series B.
Element 436 in series A is not equal to 3 in series B.
Element 3 in series A is not equal to 897 in series B.
Element 9 in series A is equal to 9 in series B.

#### Question 2

In [27]:
series_A = pd.Series([2, 4, 6, 8, 14])
series_B = pd.Series([1, 3, 5, 7, 9])

series_sum = series_A + series_B
difference = series_A - series_B
product = series_A * series_B
quotient = series_A / series_B

print(f'Sum = {list(series_sum)}')
print(f'Difference = {list(difference)}')
print(f'Product of = {list(product)}')
print(f'Quotient of = {list(map(lambda x: float(format(x, ".2f")), list(quotient)))}')

Sum = [3, 7, 11, 15, 23]
Difference = [1, 1, 1, 1, 5]
Product of = [2, 12, 30, 56, 126]
Quotient of = [2.0, 1.33, 1.2, 1.14, 1.56]

#### Question 3

In [31]:
dic = {
    'Josh': 24, 
    'Sam': 36, 
    'Peace': 19, 
    'Charles': 65, 
    'Tom': 44
}

series = pd.Series(dic)
print(type(series))

<class 'pandas.core.series.Series'>

#### Question 4

In [34]:
# Loading numpy module
import numpy as np

series = pd.Series(
    ['Love', 800, 'Joy', 789.9, 'Peace', True]
)

arr = np.array(series)
print(arr)
print(type(arr))

['Love' 800 'Joy' 789.9 'Peace' True]
<class 'numpy.ndarray'>

#### Question 5

In [70]:
# Loading dataset
df = pd.read_csv('BSSE 2301 EXERCISE 2/AfricaCupofNationsMatches.csv')

# Extracting subset of dataframe
home = df['HomeTeamGoals']

# Checking data type in the HomeTeamGoals Column
if(home.dtype != 'float64'):
    pd.to_numeric(home, errors='coerce')
    
# Setting null cells in HomeTeamGoals Column to 0
df.loc[home.isna(), 'HomeTeamGoals'] = 0

# Getting the mode of series
moden = home.mode()[0]

# Replacing every non-modal value with 'Other'
home[home != moden] = 'Other'

# Displaying result
print(f'Most frequent goal by a home team is {round(moden)}')

Most frequent goal by a home team is 1

C:\Users\HP\AppData\Local\Temp\ipykernel_21388\4121225237.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home[home != moden] = 'Other'

### Dataframes

#### Question 1

In [73]:
# Loading dataset
df = pd.read_csv('BSSE 2301 EXERCISE 2/AfricaCupofNationsMatches.csv')
if df.empty: print('Read error!')
else: print(f'File loaded successfully with {df.shape[0]} entries and {df.shape[1]} columns.')

File loaded successfully with 622 entries and 12 columns.

#### Question 2

In [75]:
# Getting first 7 entries of the dataframe
df.head(7)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
5,1959,29-May-59,NaN,Egypt,Sudan,2.0,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
6,1962,14-Jan-62,NaN,Ethiopia,Tunisia,4.0,2.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0

#### Question 3

In [77]:
# Selecting subset of columns
df[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']]

        HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0         Sudan           Egypt            1.0            2.0
1      Ethiopia    South Africa            NaN            NaN
2         Egypt        Ethiopia            4.0            0.0
3          Egypt       Ethiopia            4.0            0.0
4         Sudan        Ethiopia            1.0            0.0
..           ...            ...            ...            ...
617  Madagascar         Tunisia            0.0            3.0
618     Senegal         Tunisia            1.0            0.0
619     Algeria         Nigeria            2.0            1.0
620     Tunisia         Nigeria            0.0            1.0
621     Senegal         Algeria            0.0            1.0

[622 rows x 4 columns]

#### Question 4

In [79]:
# Selecting rows with Egypt
df[(df['HomeTeam'] == 'Egypt') | (df['AwayTeam'] == 'Egypt')]

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
5,1959,29-May-59,NaN,Egypt,Sudan,2.0,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
7,1962,18-Jan-62,NaN,Egypt,Uganda,2.0,1.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN
13,1963,24-Nov-63,NaN,Egypt,Nigeria,6.0,3.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN
14,1963,26-Nov-63,NaN,Egypt,Sudan,2.0,2.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN
16,1963,30-Nov-63,NaN,Egypt,Ethiopia,3.0,0.0,Third place match,NaN,Accra Sports Stadium,Accra,NaN

#### Question 5

In [80]:
# Counting number of entries and series
rows, cols = df.shape[0], df.shape[1]
print(f'The dataframe has {rows} rows and {cols} columns.')

The dataframe has 622 rows and 12 columns.

#### Question 6

In [81]:
# Selecting entries with missing 'Attendance' values
df[df['Attendance'].isna()]

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
8,1962,20-Jan-62,NaN,Tunisia,Uganda,3.0,0.0,Third place match,NaN,Hailé Sélassié Stadium,Addis Ababa,NaN
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN
10,1963,24-Nov-63,NaN,Ghana,Tunisia,1.0,1.0,Group A,NaN,Accra Sports Stadium,Accra,NaN
11,1963,26-Nov-63,NaN,Ghana,Ethiopia,2.0,0.0,Group A,NaN,Accra Sports Stadium,Accra,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
565,2017,29 January 2017 (2017-01-29),20:00,Egypt,Morocco,1.0,0.0,Quarter-finals,NaN,Stade de Port-Gentil,Port-Gentil,NaN
566,2017,1 February 2017 (2017-02-01),20:00,Burkina Faso,Egypt,1.0,1.0,Semi-finals,Egypt win on Penalities 3-4,Stade de l'Amitié,Libreville,NaN
567,2017,2 February 2017 (2017-02-02),20:00,Cameroon,Ghana,2.0,0.0,Semi-finals,NaN,Stade de Franceville,Franceville,NaN
568,2017,4 February 2017 (2017-02-04),20:00,Burkina Faso,Ghana,1.0,0.0,Third place play-off,NaN,Stade de Port-Gentil,Port-Gentil,NaN
569,2017,5 February 2017 (2017-02-05),20:00,Egypt,Cameroon,1.0,2.0,Final,NaN,Stade de l'Amitié,Libreville,NaN

#### Question 7

In [82]:
# Selecting entries with 3 to 6 'HomeTeamGoals'
df[(df['HomeTeamGoals'] >= 3) & (df['HomeTeamGoals'] <= 6)]

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
6,1962,14-Jan-62,NaN,Ethiopia,Tunisia,4.0,2.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0
8,1962,20-Jan-62,NaN,Tunisia,Uganda,3.0,0.0,Third place match,NaN,Hailé Sélassié Stadium,Addis Ababa,NaN
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
553,2017,20 January 2017 (2017-01-20),20:00,Morocco,Togo,3.0,1.0,Group C,NaN,Stade d'Oyem,Oyem,NaN
585,2019,27 June 2019 (2019-06-27),22:00,Kenya,Tanzania,3.0,2.0,Group C,NaN,30 June Stadium,Cairo,7233.0
595,2019,24 June 2019 (2019-06-24),22:00,Mali,Mauritania,4.0,1.0,Group E,NaN,Suez Stadium,Suez,6202.0
608,2019,6 July 2019 (2019-07-06),18:00,Nigeria,Cameroon,3.0,2.0,Round of 16,NaN,Alexandria Stadium,Alexandria,10000.0
611,2019,7 July 2019 (2019-07-07),21:00,Algeria,Guinea,3.0,0.0,Round of 16,NaN,30 June Stadium,Cairo,8205.0

#### Question 8

In [90]:
# Updating 'AwayTeamGoals' at index 2
df.loc[2, 'AwayTeamGoals'] = 10

# displaying updated result
df['AwayTeamGoals'][2]

10.0

#### Question 9

In [92]:
# Sorting dataframe by multiple columns
df.sort_values(['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
205,1990,2-Mar-90,NaN,Algeria,Nigeria,5.0,1.0,Group A,NaN,Stade 5 Juillet 1962,Algiers,85000.0
29,1968,14-Jan-68,NaN,Algeria,Uganda,4.0,0.0,Group A,NaN,Hailé Sélassié Stadium,Addis Ababa,25000.0
135,1980,16-Mar-80,NaN,Algeria,Guinea,3.0,2.0,Group B,NaN,Liberty Stadium,Ibadan,20000.0
164,1984,5-Mar-84,NaN,Algeria,Malawi,3.0,0.0,Group B,NaN,Stade Bouaké,Bouaké,10000.0
171,1984,17-Mar-84,NaN,Algeria,Egypt,3.0,1.0,Third place match,NaN,Stade Félix Houphouët-Boigny,Abidjan,500.0
...,...,...,...,...,...,...,...,...,...,...,...,...
521,2012,12-Feb-12,20:30[note 1],Zambia,Ivory Coast,0.0,0.0,Final,Zambia win on Penalities 8-7,Stade d'Angondjé,Libreville,40000.0
549,2017,23 January 2017 (2017-01-23),20:00,Zimbabwe,Tunisia,2.0,4.0,Group B,NaN,Stade de l'Amitié,Libreville,NaN
398,2004,25-Jan-04,16:30,Zimbabwe,Egypt,1.0,2.0,Group C,NaN,Stade Taïeb El Mhiri,Sfax,22000.0
437,2006,23-Jan-06,20:00,Zimbabwe,Senegal,0.0,2.0,Group D,NaN,Port Said Stadium,Port Said,15000.0
575,2019,30 June 2019 (2019-06-30),21:00,Zimbabwe,DR Congo,0.0,4.0,Group A,NaN,30 June Stadium,Cairo,4364.0

#### Question 10

In [95]:
# Getting list of headers
list(df.columns)

['Year',
 'Date ',
 'Time ',
 'HomeTeam',
 'AwayTeam',
 'HomeTeamGoals',
 'AwayTeamGoals',
 'Stage',
 'SpecialWinConditions',
 'Stadium',
 'City',
 'Attendance']

#### Question 11

In [100]:
# Appending additional column to the dataframe using the 'assign' method
df = df.assign(AverageGoals=0)
df

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,AverageGoals,inplace
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0,0,True
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN,0,True
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0,0,True
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0,0,True
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617,2019,11 July 2019 (2019-07-11),21:00,Madagascar,Tunisia,0.0,3.0,Quarter-finals,NaN,Al Salam Stadium,Cairo,7568.0,0,True
618,2019,14 July 2019 (2019-07-14),18:00,Senegal,Tunisia,1.0,0.0,Semi-finals,win after extra time,30 June Stadium,Cairo,9143.0,0,True
619,2019,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,2.0,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0,0,True
620,2019,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,0.0,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0,0,True
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0,0,True

#### Question 12

In [104]:
# Adding a couple of rows to the dataframe using the 'concat' method
subframe = pd.DataFrame([{}, {}])
df = pd.concat([df, subframe], ignore_index=True)
df.tail()

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,AverageGoals,inplace
621,2019.0,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0,0.0,True
622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
623,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Question 13

In [115]:
# Updating 'AwayTeam' column with 'Uganda' values
before = df[df['AwayTeam'] == 'Uganda'].shape[0]
df.loc[df['AwayTeam'] == 'Uganda', 'AwayTeam'] = 'China'
after = df[df['AwayTeam'] == 'Uganda'].shape[0]
print(f'Before update = {before}, after = {after}')

Before update = 0, after = 0

#### Question 14

In [120]:
# Resetting dataframe index after 8 entries
df = df.reset_index(drop=True)
df.head()

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,AverageGoals,inplace
0,1957.0,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0,0.0,True
1,1957.0,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN,0.0,True
2,1957.0,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0,0.0,True
3,1959.0,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0,0.0,True
4,1959.0,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0,0.0,True

#### Question 15

In [121]:
# Checking if dataframe has a 'Stadium' column
if 'Stadium' in df.columns:
    print('Dataframe has a \'Stadium\' column')
else: print('Dataframe has no \'Stadium\' column')

Dataframe has a 'Stadium' column

#### Question 16

In [122]:
# Converting column data type from 'int' to 'float'
df['AwayTeamGoals'] = df['AwayTeamGoals'].astype(float)

# Checking data type after conversion
df['AwayTeamGoals'].dtype

dtype('float64')

#### Question 17

In [128]:
# Removing last 10 entries from the dataframe
before = df.shape[0]
df = df[:-10]
after = df.shape[0]
print(f'Before dropping last 10 rows = {before} entries, after = {after}.')

Before dropping last 10 rows = 624 entries, after = 614.

#### Question 18

In [134]:
# Iterating over the rows in the dataframe
for index, row in df.iterrows():
    print(f"Row number = {index}")
    print(f"Entry:\n{row}\n")
    if index > 0: break

Row number = 0
Entry:
Year                               1957.0
Date                            10-Feb-57
Time                                  NaN
HomeTeam                           Sudan
AwayTeam                            Egypt
HomeTeamGoals                         1.0
AwayTeamGoals                         2.0
Stage                          Semifinals
SpecialWinConditions                  NaN
Stadium                 Municipal Stadium
City                             Khartoum
Attendance                        30000.0
AverageGoals                          0.0
inplace                              True
Name: 0, dtype: object

Row number = 1
Entry:
Year                                                               1957.0
Date                                                            10-Feb-57
Time                                                                  NaN
HomeTeam                                                        Ethiopia
AwayTeam                                                     South Africa
HomeTeamGoals                                                         NaN
AwayTeamGoals                                                         NaN
Stage                                                          Semifinals
SpecialWinConditions    Ethiopia  wins due to disqualification of othe...
Stadium                                                               NaN
City                                                                  NaN
Attendance                                                            NaN
AverageGoals                                                          0.0
inplace                                                              True
Name: 1, dtype: object

#### Question 19

In [142]:
# Loading the 'random' module
import random

# shuffling the list of column names
cols = list(df.columns)
random.shuffle(cols)

# Changing the order of columns in the dataframe
df = df[cols]
list(df.columns)

['Attendance',
 'AwayTeamGoals',
 'HomeTeam',
 'inplace',
 'Date ',
 'AwayTeam',
 'Time ',
 'Stadium',
 'HomeTeamGoals',
 'City',
 'Year',
 'Stage',
 'SpecialWinConditions',
 'AverageGoals']

#### Question 20

In [144]:
# Deleting rows with 0 in the 'HomeTeamGoals' column
before = df[df['HomeTeamGoals'] == 0].shape[0]
df = df[df['HomeTeamGoals'] != 0]
after = df[df['HomeTeamGoals'] == 0].shape[0]
print(f'Before deletion = {before}, after = {after}')

Before deletion = 125, after = 0